<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSAFY</title>
  <style>
    body {background-color: #ffffff;}
    #second  > h2 { margin:auto; padding:0px; text-align:center; color: blue;}	
    .red {color: red;}
    #signup-form{width:70%;height:200px; margin:auto; padding:20px; text-align:center; font-family: serif; font-size: 14px;}
    #signup-form2{width:70%;height:200px; margin:auto; padding:20px; text-align:center; font-family: serif; font-size: 14px;color: red; }
  </style>
  <script src="https://unpkg.com/vue"></script>

</head>
<body>
  <div id='second'>
    <h2>SAFY HRM</h2>
  </div>
  
<section id="signup_section">
<div id='signup_form'>
	<h2>Sign Up Form</h2>
 	<form id="_formhrm" action="" method="post" @submit.prevent='addEmp'>
		<label><span class="label">아이디<span class='red'>*</span></span></label>
		<input id="_signId" name="id" type="text" v-model="id" placeholder="아이디를 입력하세요"/><br/>
		<label><span class="label">비밀번호<span class='red'>*</span></span></label>
		<input id="_signPw" name="pw" type="password" v-model="pw" placeholder="패스워드를 입력하세요"/><br/>
		<label><span class="label">이름<span class='red'>*</span></span></label>
		<input id="_signName" name="name" type="text" v-model="name" placeholder="이름을 입력하세요"/><br/>
		<label><span class="label">주소<span class='red'>*</span></span></label>
		<input id="_signAddress" name="address" type="text" v-model="address" placeholder="주소를 입력하세요"/><br/>
		<label><span class="label">전화번호<span class='red'>*</span></span></label>
		<input id="_signPhone" name="phone" type="tel" v-model="phone" placeholder="010-xxxx-xxxx"/><br/>
       <button type="submit" name="button">사원추가</button>
       <label><input @keyup.enter='search'>키엔터</label>
  </form>
  <h2>추가된 사원 정보</h2>
  <ul>
    <li v-for='(emp, i) in emps'>
      <span v-html='i+1'></span>
      <span v-html='emp.id'></span> :<span v-html='emp.name'></span>
    </li>
  </ul>
</div>
<div id='signup_form2'>
  <label><input @keyup.enter='search'>키엔터</label>
<fieldset>
           <span v-html="findEmp.id"></span>
           <span v-html="findEmp.name"></span>
</fieldset>
</div>
</section>
  <script type="text/javascript">
    var model={id:'', pw:'', name:'', address:'', phone:'', emps:[], findEmp:{id:'', name:''}}
    new Vue({
      el:'#signup_section',
      data:model,
      methods: {
        search:function(e){
          var f = this.emps[e.target.value-1]
            if(f){
              this.findEmp.id=f.id
            }else{
              alert('존재하지 않는 사원 번호입니다.')
            }
          },
        addEmp:function() {
          if(this.id==''){
            alert('아이디를 입력해주세요')
            return false
          }
          if(this.name==''){
            alert('이름을 입력해주세요')
            return false
          }
          this.emps.push({id:this.id, name:this.name})
          this.id=''
          this.name=''
        }
      },
    })
  </script>
</body>
</html>