<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>axios</title>
  <style>
    body {background-color: #ffffff;}
    #second  > h2 { margin:auto; padding:0px; text-align:center; color: blue;}	
    .red {color: red;}
    #tid {border: 1px; border-color: blue; border-collapse: collapse; margin:auto;text-align:center;}
  </style>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body>
  <div id='second'>
   <h2>SSAFY FLAG LIST</h2>
  </div>
<div id="app">
    <section v-if="errored">
        <p>network Error</p>
      </section>
      <section v-else>
        <div v-if="loading">Loading.....</div>
        <div v-else>
          <ul>
              <li v-for='f in info'>
                  <span v-html='f.name'></span> <img v-bind:src='f.flag'>
                </li>
          </ul>
        </div>
      </section>
</div>
				
  <script type="text/javascript">
    new Vue({
      el:'#app',
      data:function(){
        return {info:null, loading:true, errored:false}
      },
      mounted:function () {
        axios.get('./flags.json') 
             .then(response=>{
              this.info=response.data.nationalflags
              console.log('응답 ok')
              console.log(this)
             })
             .catch(error=>{
               console.log(error)
               this.errored = true
             })
             .finally(
               ()=>this.loading=false
             )
      },
    })
  </script>
</body>
</html>